.theme-default-content code {
    color: #e96900;
    background-color: #f8f8f8;
}

blockquote {
    border-left-width: 0.5rem;
    border-left-style: solid;
    border-color: #42b983;
    background-color: #f3f5f7;
    padding: 10px 15px;
    color: #777;
}